@font-face {
  font-family: EvolveSans;
  src: url(./EvolveSans.ttf);
}
html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  overflow: hidden;
  font-family: EvolveSans;
}
body{
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}
nav{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
nav div{
  height: 100%;
  width: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
nav div a{
  font-size: 2rem;
  text-decoration: none;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  transition: 0.5s;
}
nav div a:hover{
  text-shadow: 2px 2px 7px white;
}
nav .list{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  position: relative;
  float: left;
  margin-left: 10px;
}
.list a{
  text-decoration: none;
  color: white;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

/*Universal Div*/

.animation-box{
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;;
  padding-bottom: 50px;
}
/*.animation-box button{
  width: 50px;
  height: 20px;
}*/

/*Bottle Animation*/

.bottle{
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #282828;
  position: relative;
  transform-origin: bottom center;
  transition: 0.5s;
  animation: bottle-shake 5s linear 3s infinite;
}
@keyframes bottle-shake {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(15deg);
  }
  60%{
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(-15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes liquid-shake {
    0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-15deg);
  }
  60%{
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.bottle::before{
  content: '';
  position: absolute;
  width: 75px;
  height: 12px;
  border-radius: 50%;
  border: 10px solid #444;
  left: 50%;
  top: -9px;
  transform: translate(-50%);
}
.liquid{
  position: absolute;
  height: 125px;
  background-color: aqua;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(0px 0px 15px aqua);
  transform-origin: top center;
  transition: 0.5s;
  animation: liquid-shake 5s linear 3s infinite;
}
.liquid::before{
  content: '';
  position: absolute;
  background-color: #44b2ce;
  height: 25px;
  border-radius: 50%;
  width: 100%;
  top: -14px;
  filter: drop-shadow(0px 0px 10px #44b2ce);
}

/*Computer Screen Animation*/

.computer{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  background-color: #111;
  position: relative;
  box-shadow: 8.5px 8.5px #282828;
}
.computer::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b80d0d;
  bottom: 13px;
  right: 45px;
  animation: button-blink 2s linear infinite;
  animation-fill-mode: forwards;
}
@keyframes button-blink{
  0%, 100%{
    filter: drop-shadow(0px 0px 0px #b80d0d);
  }
  50%{
    filter: drop-shadow(0px 0px 10px #b80d0d);
  }
}
.screen{
  content: '';
  position: absolute;
  width: 305px;
  height: 200px;
  border-radius: 30px;
  background-color: #282828;
  box-shadow: 0 0 20px #282828;
  padding: 10px;
  transition: 0.5s;
  animation: screen-blink 2s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  overflow: hidden;
}
@keyframes screen-blink{
  0%{
    background-color: #282828;
  box-shadow: 0 0 20px #282828;
  }
  20%{
    background-color: #ffff99;
  box-shadow: 0 0 20px #ffff99;
  }
  40%{
    background-color: #282828;
  box-shadow: 0 0 20px #282828;
  }
  50%{
    background-color: #ffff99;
  box-shadow: 0 0 20px #ffff99;
  }
  60%{
    background-color: #282828;
  box-shadow: 0 0 20px #282828;
  }
  80%{
    background-color: #ffff99;
  box-shadow: 0 0 20px #ffff99;
  }
  90%{
    background-color: #282828;
  box-shadow: 0 0 20px #282828;
  }
  100%{
    background-color: #ffff99;
  box-shadow: 0 0 20px #ffff99;
  }
}

/*Working Tv HTML CSS and JS*/

.tv{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  background-color: #111;
  position: relative;
  box-shadow: 8.5px 8.5px #282828;
}
.tv-screen{
  position: relative;
  width: 305px;
  height: 200px;
  border-radius: 30px;
  background-color: #282828;
  box-shadow: 0 0 20px #282828;
  padding: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.tv-screen video{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 100%;
  transition: 0.5s;
}
.btn-play{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border: 0;
  border-radius: 50%;
  border: 0;
  background-color: #b80d0d;
  bottom: 11px;
  right: 45px;
  transition: 0.5s;
  animation: button-blink 3s linear infinite;
  animation-fill-mode: forwards;
}

/*Animated Speakers CSS*/

.wall{
  background-color: #322318;
  width: 375px;
  height: 225px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 6px 0px 0px #584131;
  border-right: 3px solid #5e4435;
}
.wall::before{
  content: '';
  position: absolute;
  top: -50px;
  width: 210px;
  height: 50px;
  left: 50%;
  transform: translate(-50%);
  background-color: #584131;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: -1;
  border-right: 5px solid #322318;
}
.wall::after{
  content: '';
  position: absolute;
  top: -32px;
  width: 150px;
  height: 32px;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: -1;
}
.wall span{
  position: absolute;
  color: black;
  width: 145px;
  height: 50px;
  border-radius: 5px;
  background: green;
  filter: drop-shadow(0 0 5px green);
  left: 25%;
  top: 23%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  align-items: center;
}
.radio-btn{
  position: absolute;
  width: 140px;
  height: 105px;
  border-radius: 5px;
  border: 0;
  left: 25%;
  top: 60%;
  background-color: #ad9a78;
  transform: translate(-50%, -50%);
  border-right: 3px solid #5e4435;
  border-bottom: 2px solid #5e4435;
}
.radio-btn::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 55px;
  border-radius: 5px;
  border: 0;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  background: #ffff29;
  filter: drop-shadow(0 0 20px #ffff99);
}
.radio-btn::after{
  content: '';
  position: absolute;
  width: 120px;
  height: 8px;
  border-radius: 5px;
  border: 0;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: black;
}
.speaker{
  position: absolute;
  left: 72%;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 50%;
  background-color: grey;
  filter: drop-shadow(0 0 10px aqua);
}
.speaker::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translate(-50%);
  width: 120px;
  height: 120px;
  border: 0;
  border-radius: 50%;
  background: yellow;
}
.speaker::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: aqua;
  filter: drop-shadow(0 0 2px black);
}

/*Android Media Queries*/

@media screen and (max-device-width: 480px) {
  nav{
    max-width: 100vw;
  }
  .list{
    visibility: hidden;
  }
  .animation{
    max-width: 100vw;
  }
}

/*
CSS HEX
--eclipse: #322318;
--bone: #ddd0b3;
--millbrook: #584131;
--sandrift: #ad9a78;
--sand-dune: #817565;
--roman-coffee: #78684f;
--spring-wood: #f8f5f0;
--zorba: #9e9186;
--zambezi: #6b5c5c;


SCSS HEX
$eclipse: #322318;
$bone: #ddd0b3;
$millbrook: #584131;
$sandrift: #ad9a78;
$sand-dune: #817565;
$roman-coffee: #78684f;
$spring-wood: #f8f5f0;
$zorba: #9e9186;
$zambezi: #6b5c5c;

*/